<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    @@include('./inc/meta.inc')
</head>
    <body>
        <!--header-->
        @@include('./inc/header.inc')
        <!--center-->
        <div class="agreement-content">
            <p class="agree-title lang-agreeTitle">《VNBIG用户协议》</p>
            <p class="lang-agreeText">

            </p>
        </div>
        <!--footer-->
        @@include('./inc/footer.inc')
        @@include('./inc/js.inc')
        <!-- build:js ./Web/js/agreement.min.js -->
        <script src="./Web/js/page/agreement.js"></script>
        <!-- endbuild -->
        @@include('./inc/statis.inc')
    </body>
</html>