<div class="assets-manage">
	<div class="center-title">
		<span class="lang-asset">资产管理</span>
		<a class="recommend lang-MAinfo" href="javascript:window.location.href = '/assets.html?modle=handler'"> 推荐VNBIG赚佣金，躺着也挣钱！</a>
	</div>
	<div class="my-balance">
		<span class="lang-Mremaining">总额约：</span>
        <span class="ft01">
            <span id="myBalance">--</span>
        </span>
        <!--<a href="javascript:;" class="to-recharge lang-Mrechagee" id="toRecharge">-->
			<!--充值-->
		<!--</a>-->
		<!--<a href="javascript:;" class="apply-deposit rt lang-Mdeposit" id="applyDeposit">申请提现</a>-->
	</div>
	<!--<div class="eam-all">您的总资产：
		<span class="ft02">$0</span>
		<em>（折合美元）</em>
		<i class="eam-tip"></i>
	</div> -->
	<!--<div class="eam-base">
		<span><i class="money-ico"></i>美元 <em class="ft03">USD</em></span>
		<span>可用：<em class="ft01">$0</em></span>
		<span>冻结：<em class="ft01">$0</em></span>
		<span>总计：<em class="ft01">$0</em></span>
	</div>-->
	<div class="list-choose-block">
	<span class="choose-btn lang-btnFB selected" id="btnFB">法币账户</span>
	<span class="choose-btn lang-btnBB" id="btnBB">数字币账户</span>
</div>
	<div class="list-block">
		<p class="eam-sum" id="eamSum">账户余额约合：--- USD</p>
        <div class="table">
            <div class="eam-info-head">
                <span class="item currency lang-MAnavList" index="0">img</span>
                <span class="item usable lang-MAnavList" index="1">可用余额</span>
                <span class="item freezing lang-MAnavList" index="2">委托冻结</span>
                <span class="item freezing lang-MAnavList" index="5">提现冻结</span>
                <span class="item total lang-MAnavList" index="3">总计</span>
                <!-- <span class="item convert lang-MAnavList" index="0">折合</span> -->
                <span class="item lang-MAnavList" index="4">操作</span>
            </div>
            <div class="eam-info" id="coinList">
                <table>
                    <colgroup>
                        <col width="16%">
                        <col width="16%">
                        <col width="18%">
                        <col width="18%">
                        <col width="16%">
                        <col width="16%">
                    </colgroup>
                    <tbody>
                    <!--<tr>
                        <td>
                            <img src="./web/images/bi.png" alt="" width="36" height="36">
                            <div class="money">
                                <p>莱特币 <span class="ft03">LTC</span></p>
                                <p class="ft04">$335</p>
                            </div>
                        </td>
                        <td>0.0000</td>
                        <td>0.0000</td>
                        <td>0.0000</td>
                        <td>0.0000</td>
                        <td><a href="javascript:void(0);" class="deal-btn">去交易</a></td>
                    </tr>-->
                    </tbody>
                </table>
            </div>
        </div>
	</div>
</div>
