<div class="assetsManagementLH assets-record" id="record">
	<p class="center-title lang-REFind"></p>
	<div class="record-info">
	    <div class="record-header">
            <span class="lang-REtime"></span>
            <span class="lang-REtradeType"></span>
            <span class="lang-coinType">币种</span>
            <span>
	            <em class="lang-REprice"></em>
	            <em>(USD)</em>
            </span>
            <span class="lang-REnumber"></span>
            <span>
                <em class="lang-REtotalMoney"></em>
	            <em>(USD)</em>
            </span>
            <!--<span class="lang-REstate"></span>-->
	    </div>
	    <div class="record-centre">
	    	<table>
		        <tbody>

		        </tbody>
	    	</table>
			<div class="scroll-load-more" id="dataShow">
				<span class="btn-loading"><i></i></span>
				<span class="lang-loadLang" index="0">滚动加载更多...</span>
			</div>
	    </div>
	</div>
</div>

<!--<th><span class="lang-DEtxmoeny">提现金额</span>(USD)</th>-->
<!--<th><span class="lang-DEsxf">手续费</span>(USD)</th>-->
<!--<th><span class="lang-DEsuremoeny">实际到账</span>(USD)</th>-->
<!--<th class="lang-DEbankid">收款银行账号</th>-->
<!--<th class="lang-DEtime">时间</th>-->
<!--<th class="lang-DEstat">状态</th>-->
