<div class="safety-center center-right-login">
	<p class="center-title">实名认证</p>
	<p class="center-remind">请认真填写（银行卡开户姓名），提交后不可修改!</p>
	<ul class="cange-password">
		<li>
			<span id="realName">真实姓名：</span>
			<input id="realNameInput" type="text" newpassword autocomplete="off">
		</li>
		<li>
			<span id="numberId">身份证号：</span>
			<input id="numberIdInput" type="text" newpassword autocomplete="off">
		</li>
		<li>
			<input class="cange-submit" id="determineBtn" type="submit" value="确定">
		</li>
	</ul>
</div>