<div class="safety-center center-right-login">
	<p class="center-title lang-title">修改登录密码</p>
	<p class="center-remind lang-tips">为确保您的顺利交易，请牢记登录密码!</p>
	<ul class="cange-password">
		<li>
			<span id="oldPassword" class="lang-SLitems" index="0">登录密码：</span>
			<input id="oldPasswordInput" type="text" newpassword autocomplete="off">
		</li>
		<li>
			<span id="newPassword" class="lang-SLitems" index="1">新登录密码：</span>
			<input id="newPasswordInput" type="text" newpassword autocomplete="off">
		</li>
		<li>
			<span id="newaginPassword" class="lang-SLitems" index="2">再次输入新密码：</span>
			<input id="newaginPasswordInput" type="text" newpassword autocomplete="off">
		</li>
		<li class="min-topli">
			<p class="prompt" id="prompt"></p>
		</li>
		<li>
			<button type="button" class="main-btn cange-submit lang-Btn" id="cangeSubmit">保存</button>
		</li>
	</ul>
</div>