<div class="safety-center center-right-login">
	<p class="center-title lang-title">修改提现密码</p>
	<div><i class="center-tips"></i>
		<p class="center-remind lang-tips">第一次修改，不用输入原提现密码！</p>
	</div>
	<ul class="cange-password">
		<li>
			<span id="oldPassword" class="lang-STitems" index="0">原提现密码：</span>
			<input id="oldPasswordInput" type="text" newpassword autocomplete="off">
		</li>
		<li>
			<span id="newPassword" class="lang-STitems" index="1">新提现密码：</span>
			<input id="newPasswordInput" type="text" newpassword autocomplete="off">
		</li>
		<li>
			<span id="newaginPassword" class="lang-STitems" index="2">重复新密码：</span>
			<input id="newaginPasswordInput" type="text" newpassword autocomplete="off">
		</li>
		<li class="min-topli">
			<p class="prompt" id="prompt"></p>
		</li>
		<li>
			<button type="button" class="main-btn cange-submit lang-Btn" id="cangeSubmit">确定</button>
		</li>
	</ul>
</div>