.assets-record {
    .record-info {
        .record-header {
            span {
                width: 16%;

                &:last-child {
                    width: 20%;
                }
            }
        }
        td {
            width: 16%;

            &:last-child {
                width: 20%;
            }
        }
    }
}